@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');

/* css variables */
:root{
    --main-background: #fff;
    --text-color: #000;
    --display-light: block;
    --display-dark: none;
    --btn-bg: #202020;
    --btn-txt: #fff;
    --btn-border: #000;
    --card-left-border: #fff;
    --card-right-border: #fff;
    --rotate-color: 0deg;
    --card-shadow: rgba(0, 0, 0, 0.25);
    --modal-shadow: rgba(0, 0, 0, 0.04);
    --modal-opacity: rgba(0, 0, 0, 0.2);
    --dark-opacity: 0;
    --light-opacity: 1;
}

[data-theme = 'dark']{
    --main-background: #000;
    --text-color: #fff;
    --display-light: none;
    --display-dark: block;
    --btn-bg: #fff;
    --btn-txt: #202020;
    --btn-border: #fff;
    --card-left-border: #d400d4;
    --card-right-border: #00ccff;
    --rotate-color: 90deg;
    --card-shadow: rgba(255, 255, 255, 0.45);
    --modal-shadow: rgba(255, 255, 255, 0.04);
    --modal-opacity: rgba(0,0,0, 0.8);
    --dark-opacity: 1;
    --light-opacity: 0; 
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-background);     
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color); 
}

/* basic styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    width: 100%;
}

body{
    overflow-x: hidden;
    background: var(--main-background);
    color: var(--text-color);
    transition: 0.5ms all ease;
}

.light--mode{
    display: var(--display-light);
}

.dark--mode{
    display: var(--display-dark);
}

h1{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 59px;
    text-align: center;
    margin-bottom: 30px;
}

h2{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 59px;
    text-align: center;
    margin-bottom: 30px;
}

p{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 35vw;
    margin: 0 auto 30px auto;
    /* margin-bottom: 30px; */
}

span{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

hr{
    margin: 50px 0;
}

section, .main--container{
    width: 90vw;
    min-height: 100vh;
    margin: 110px auto 0px auto;
}

.home--page{
    width: 100%;
}

.components{
    padding-top: 8vh;
    margin: 0 auto 50px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.page--btn{
    width: fit-content;
    min-width: 210px;
    height: 53px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 49px;
    margin: 10px auto 30px auto;
    background: var(--btn-bg);
    color: var(--btn-txt);
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.page--btn:hover{
    border: 2px solid var(--btn-border);
    background: var(--btn-txt);
    color: var(--btn-bg);
    font-weight: 400;
    /* box-shadow: 20px 0 15px #fff,
    0px 0px 0px #fff,
    -20px 0px 15px #fff,
    0px 0px 0px #fff; */
}

.bg--img{
    min-width:100%;
    max-width: none;
    position: absolute;
    height: 713px;
    left: 0;
    top: -50%;
    z-index: -1;
    width: 100vw;
    max-height: 100vh;
    box-shadow: 1px 2px -10px 1px rgba(0, 0, 0, 0.25);
    opacity: 0.7;
    resize: none;
    overflow: hidden;
}

.page--h1{
    font-size: 74px;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.page--info{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.page--info p{
    width: 75vw;
    font-weight: 400;
    font-size: 24px;
}

/* navbar design */
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;
    background: var(--main-background);
    box-shadow: 1px 2px 10px 1px var(--card-shadow);
}

.logo{
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 300px;
    height: fit-content;
}

.navigation{
    margin: auto 10px auto auto;
}

.menu--links{
    list-style: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #404040;
    display: flex;
    justify-content: flex-end;
}

.menu{
    margin: 5px 5px;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    width: fit-content;
    transition: all .3s ease;
}

.menu:hover{
    font-weight: 700;
}

.toggle--btn{
    width: 20px;
    height: 20px;
    margin: auto 40px auto 0;
}

.switch {
    display: flex;
    width: 20px;
    height: 20px;    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch img{
    z-index: 1;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav--btn{
    display: none;
    width: 30px;
    height: 30px;
    margin: auto 40px auto 0;
    /* border: 1px solid black; */
}

.navigate {
    display: flex;
    width: 30px;
    height: 30px;    
}

.navigate input {
    opacity: 0;
    width: 0;
    height: 0;
}

.navigate img{
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navigate .cross{
    display: none;
}

.menu--div{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: var(--main-background);
    border-radius: 0;
    padding: 20px 20px;
}

.menu--div button{
    border: none;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    background: transparent;
    width: 40px;
    height: 40px;
}

.menu--div button img{
    width: 40px;
    height: 40px;
}

/* home design */
.homepage--ele, .homepage--txt{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}

.homepage--ele iframe{
    border: none;
    width: 1000px;
    height: 750px;
    z-index: -2;
    margin-top: -85px;
}

.sq--anime{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 225px auto 250px auto;
    padding: 0px 25px;
}

.home--anime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 40px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}

.home--anime .abox{
    position: relative;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    background: linear-gradient(45deg,#00f376 10%,
    transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 60%, transparent 100%);
    background-size: 40px 40px;
    transform: rotate(calc(var(--i) * 90deg));
    filter: hue-rotate(calc(var(--i) * 90deg));
    animation: animateloader 0.5s linear infinite;
    resize: none;
}

@keyframes animateloader {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 40px;
    }
}

.homepage--txt{
    margin: -110px auto 50px auto;
    display: grid;
    width: fit-content;
}

.homepage--txt .logo--des {
    width: 150px;
    height: 75px;
    margin: 0 auto;
}

.homepage--txt h1{
    margin-bottom: 0;
}

/* team design */
.team--year{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.year--links{
    text-decoration: none;
    font-size: x-large;
    color: var(--text-color);
    padding: 10px 15px;
}

.member--card{
    width: fit-content;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

.member--card div{
    border-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 10px;
    box-shadow: 1px 1px 10px 2px var(--card-shadow);
    cursor: pointer;
}

.member--card div:hover{
    border: 5px solid var(--text-color);
}

.member--card div img{
    width: auto;
    height: auto;
}

.member--card h2{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
}

.member--card span{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.team--member{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.team--members{
    width: 75vw;
    margin: auto;
    padding-bottom: 60px;
}

/* profile design */
.modalbg {
    background-color: var(--modal-opacity);
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 10;
}
  
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal {
    width: 500px;
    background: var(--main-background);
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 var(--modal-shadow);
    text-align: center;
    overflow: hidden;
}

.img--board{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img--board button{
    margin-right: 0;
    position: relative;
    left: 50%;
    transform: translateX(-90%) translateY(10px);
    background: transparent;
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.img--board button img{
    width: 25px;
    height: 25px;
}

.profile--bg{
    width: 100%;
    height: 150px;
    transform: translateY(-25px);
    border-bottom: 5px solid var(--text-color);
    background-size: cover;
    opacity: 0.8;
    border-radius: 16px;
}

.profile--img{
    width: 200px;
    height: 200px;
    border: 3px solid var(--text-color);
    background-size: cover;
    border-radius: 50%;
    margin-bottom: -60px;
    transform: translateY(-125px);
}

.modal h2{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-top: -50px;
    margin-bottom: 8px;
}

.modal span{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 8px;
}

.modal p{
    width: auto;
    padding: 10px 35px;
}

.profile--links{
    width: auto;
    display: flex;
    padding-bottom: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.profile--links a{
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-color);
    width: fit-content;
}

.profile--links a img{
    width: 30px;
    height: 30px;
}

/* events design */
.filter--div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 30px;
}

.filter--div h3{
    text-align: left;
    margin: auto;
}

.div--box{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;
}

.search--box, .filter--box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    position: relative;
}

.filter--box i{
    position: absolute;
    margin-left: 10px;
    width: 13px;
}

.search--box input, select{
    padding: 5px 5px;
    padding-right: 35px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid var(--text-color);
    background: var(--main-background);
    color: var(--text-color);
}

select{
    padding: 5px 15px 5px 30px;
}

.search--box i{
    cursor: pointer;
    position: absolute;
    left: 100%;
    transform: translateX(-25px);
    width: 13px;
}

.event--modal{
    max-width: auto;
    width: fit-content;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.close--btn{
    position: fixed;
    z-index: 1;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.close--btn button{
    position: relative;
    left: 50%;
    transform: translateX(-90%);
    background: transparent;
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.close--btn button img{
    width: 25px;
    height: 25px;
}

.event--info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster{
    width: 350px;
    height: 350px;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    margin: 10px 10px;
}

.info{
    display: inline;
    padding: 10px 10px;
    margin-left: 30px;
}

.info p, .info h3{
    text-align: left;
    line-height: 30px;
    margin-bottom: 0;
    padding: 5px 0;
}

.event--details p{
    text-align: left;
    width: auto;
    padding: 20px 10px;
}

.event--box{
    width: 350px;
    height: 450px;
    cursor: pointer;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    gap: 20px;
    box-shadow: 1px 2px 10px 1px var(--card-shadow);
}

.event--box div{
    width: 325px;
    height: 175px;
    border: 1px solid black;
    border-radius: 16px;
    background-size: contain;
}

.event--box div img{
    width: 100%;
    height: 100%;
    margin: 0 0;
}

.event--box p, .event--box h3{
    width: auto;
    line-height: 26px;
    font-size: 26px;
    margin-bottom: 0px;
}

.event--box p{
    font-size: 16px;
}

.events--holder{
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 375px);
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
    margin: auto auto 50px auto;
}

/* recent-events design */
.recent--evt{
    display: flex;
    margin: 30px auto 60px auto;
    width: fit-content;
    column-gap: 60px;
}

.recent--evt div{
    display: flex;
    padding-top: 40px;
    margin: auto auto;
    width: 286px;
    position: relative;
}

.event--holder{
    width: 286px;
    height: 459px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;    
    background: var(--main-background);
    margin: auto 40px;
    padding: 28px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.event--holder::after{
    content: '';
    position: absolute;
    width: 275px;
    height: 525px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--card-left-border));
    animation: animateCard 4s linear infinite;
    animation-delay: -2s;
}

.event--holder::before{
    content: '';
    position: absolute;
    width: 275px;
    height: 525px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--card-right-border));
    animation: animateCard 4s linear infinite;
}

@keyframes animateCard {
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}

.color--card{  
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-83%);
    width: 229px;
    height: 211px;
    border-radius: 8px;
    z-index: -1;    
}

.yellow, .green, .blue{
    background: var(--div-color);
}

.event--holder span{
    width: 276px;
    z-index: 1;
    position: absolute;
    inset: 5px;
    background: var(--main-background);
    border-radius: 16px;
    padding: 8px 8px;
    display: inline-block;
    justify-content: center;
}

.event--holder span img{
    width: 258px;
    height: 165px;
    border-radius: 8px;
}

.event--holder span p, .event--holder span h3{
    padding: 3px 5px;
    margin-bottom: 0px;
    width: auto;
    font-weight: 400;
    font-size: 17px;
}

.event--holder span h3{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 24px;
}

/* about design */
.about--btn{
    margin: 0 auto;
}

.about--cmp{
    padding-top: 60px;
    margin-top: -225px;
}

.about--btns{
    margin: 30px auto;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about--cards{
    margin: 0 auto;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 50px;
    width: max-content;
}

.about--card{
    width: 307px;
    height: 328px;
    padding: 28px 20px;
    background: var(--main-background);
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about--card span{
    width: 297px;
    position: absolute;
    inset: 5px;
    background: var(--main-background);
    border-radius: 16px;
    z-index: 1;
    padding: 15px 15px;
    text-align: left;
    display: grid;
}

.about--card::after{
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--card-left-border));
    animation: animateCard 4s linear infinite;
    animation-delay: -2s;
}

.about--card::before{
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--card-right-border));
    animation: animateCard 4s linear infinite;
}

@keyframes animateCard {
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}

.about--card span img{
    width: 44px;
    height: 44px;
}

.about--card span > h3{
    margin: 5px 5px 5px 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
}

.about--card span > p{
    width: auto;
    margin: 5px 5px 5px 10px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}

.about--ele{
    position: absolute;
    left: 80%;
    z-index: -1;
}

.about--ele iframe{
    width: 700px;
    height: 600px;
    border: none;
}

/* animations */
/* community partners css animation */
/* perpetual component design */
.ele--container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    left: 85%;
    transform: translateY(-275px);
    z-index: -1;
}

.perpetual--ele{
    position: relative;
    transform: translateY(-50px);
}

.perpetual--ele::before {
    content: '';
    position: absolute;
    top: 200px;
    width: 200px;
    height: 200px;
    background: #4285F4;
    border-radius: 50%;
    animation: animateCircle 4s ease-in-out infinite;
}

@keyframes animateCircle {
    0%{
        transform: translateX(15px);
    } 50%{
        transform: translateX(-15px);
    } 100%{
        transform: translateX(15px);
    }
}

.perpetual--ele::after {
    content: '';
    position: absolute;
    transform: translateX(-33%);
    top: 400px;
    width: 600px;
    height: 600px;
    background: #DB4437;
    border-radius: 50%;
}

.perpetual--ele .loader{
    position: relative;
    width: 200px;
    height: 200px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%{
        transform: rotate(50deg);
    } 50%{
        transform: rotate(-50deg);
    } 100%{
        transform: rotate(50deg);
    }
}

.perpetual--ele .loader::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #F4B400;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.perpetual--ele .loader .ball{
    position: absolute;
    top: 50%;
    left: -15px;
    width: 40px;
    height: 40px;
    background: #0F9D58;
    border-radius: 50%;
    transform: translateY(-100%);
    animation: animateBall 4s ease-in-out infinite;
}

@keyframes animateBall {
    0%{
        transform: translateY(-100%) translateX(-30px);
    } 50%{
        transform: translateY(-100%) translateX(220px);
    } 100%{
        transform: translateY(-100%) translateX(-30px);
    }
}

/* meet team */

.team--svg{
    position: absolute;
    left: -5%;
    z-index: -1;
}

.team--svg iframe{
    border: none;
    width: 700px;
    height: 400px;
    visibility:visible;
}

.neon--rain{
    position: absolute;
    left: 10%;
    transform: translateY(20px);
    z-index: -1;
}

.neon--rain iframe{
    width: 600px;
    border: none;
}

.neon--rain2{
    position: absolute;
    left: 50%;
    transform: translateY(20px);
    z-index: -1;
}

.neon--rain2 iframe{
    width: 600px;
    border: none;
}

/* sponsor and partner */

.sponsor--box, .partner--box{
    margin: 0 auto;
    display: flex;
}

.sponsor, .partner{
    width: 270px;
    height: fit-content;
    display: grid;
    grid-template-rows: repeat(2,auto);
    padding: 15px 15px;
    margin: 0 20px;
    background: #fff;
    border-radius: 20px;
    place-items: center;
    row-gap: 20px;
}

.sponsor .image, .partner .image{
    width: fit-content;
    height: 130px;
}

.sponsor > h3, .partner > h3{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #000;
}

/* join community */

.community--ele{
    position: absolute;
    left: -7%;    
    z-index: -1;
}

.community--ele iframe{
    width: 500px;
    height: 600px;
    border: none;
}

.cube--holder{
    margin-top: 45px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.cube--holder .one-square{
    width: 175px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.side{
    scale: 0.8;
    transform: translateY(-80px);
}

.cube--holder .box{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animateOneSquare 4s linear infinite;
}

@keyframes animateOneSquare {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube--holder .box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube--holder .box div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.cube--holder .boxtop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #222;
    transform: rotateX(90deg) translateZ(50px);
}

.cube--holder .boxtop::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #0f0;
    transform: translateZ(-150px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,255,0,0.4),
    0 0 300px rgba(0,255,0,0.6),
    0 0 400px rgba(0,255,0,0.8),
    0 0 500px rgba(0,255,0,1);
}

.cube--holder .box div .yellow{
    background: linear-gradient(#151515,#fff01f);
}

.cube--holder .box div .blue{
    background: linear-gradient(#151515,#0000ec);
}

.cube--holder .box div .red{
    background: linear-gradient(#151515,#ec0000);
}

.cube--holder .box .blue::before{
    background: #00f;
    box-shadow: 0 0 120px rgba(0,0,255,0.2),
    0 0 200px rgba(0,0,255,0.4),
    0 0 300px rgba(0,0,255,0.6),
    0 0 400px rgba(0,0,255,0.8),
    0 0 500px rgba(0,0,255,1);
}

.cube--holder .box .red::before{
    background: #f00;
    box-shadow: 0 0 120px rgba(255,0,0,0.2),
    0 0 200px rgba(255,0,0,0.4),
    0 0 300px rgba(255,0,0,0.6),
    0 0 400px rgba(255,0,0,0.8),
    0 0 500px rgba(255,0,0,1);
}

.cube--holder .box .yellow::before{
    background: #ecec00;
    box-shadow: 0 0 120px rgba(236,236,0,0.2),
    0 0 200px rgba(236,236,0.4),
    0 0 300px rgba(236,236,0.6),
    0 0 400px rgba(236,236,0.8),
    0 0 500px rgba(236,236,1);
}

/* contact us page design */
.social--links{
    width: 320px;
    height: 222px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.social--links > .links{
    text-decoration: none;
}

.social--links > .links > img{
    margin: 0px 20px 20px 10px;
    width: 50px;
    height: 50px;
    
}

.magazine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.magazine h3{
    font-size: 32px;
    margin-bottom: 10px;
}

/* footer design */
footer{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-bottom: 5px;
}

footer img{
    margin: auto;
    width: fit-content;
    height: fit-content;
}

footer > div{
    width: fit-content;
    display: flex;
    margin: auto auto;
    justify-content: right;
}

footer > div > ul{
    list-style: none;
    padding: 20px 20px;
    color: var(--text-color);
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;   
}

footer > div > ul > span{
    font-weight: 700;
}

.footer--links{
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

footer p{
    margin: 0 auto 0 auto;
}

/* responsive designing */
@media screen and (max-width: 1300px){
    .team--svg{
        position: relative;
        width: fit-content;
        margin: auto auto;
        left: 0;
        
    }

    .team--svg iframe{
        width: 500px;
        height: 300px;
    }

    .neon--rain{
        position: relative;
        width: fit-content;
        left: 0%;
        margin: auto auto;
        transform: translateY(-20px);
    }

    .neon--rain iframe{
        width: 400px;
    }

    .neon--rain2 iframe{
        display: none;
    }
}

@media screen and (max-width: 1250px){
    .event--modal{
        overflow-y: scroll;
    }

    /* width */
    .event--modal::-webkit-scrollbar {
        margin-left: -10px;
        width: 10px;
    }

    /* Track */
    .event--modal::-webkit-scrollbar-track {
        background: var(--main-background);   
        border-radius: 16px;  
    }

    /* Handle */
    .event--modal::-webkit-scrollbar-thumb {
        background: #555; 
        border-radius: 16px;
    }

    /* Handle on hover */
    .event--modal::-webkit-scrollbar-thumb:hover {
        background: var(--text-color); 
    }

    .ele--container{
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .recent--evt{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
    }

    .community--ele iframe{
        display: none;
    }
}

@media screen and (max-width: 1150px){
    .team--member{
        width: 500;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1100px){
    .about--ele iframe{
        display: none;
    }
}

@media screen and (max-width: 1050px){
    .components{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .partner--box, .sponsor--box{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }

    .about--cmp h1{
        width: auto;
        margin-top: 200px;
    }

    .about--cards{
        margin: auto auto 60px auto;
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
    }
}

@media screen and (max-width: 1000px){
    .sq--anime, .home--anime{
        scale: 0.9;
    }

    .event--info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info{
        position: relative;
        width: 100%;
        margin-left: 0px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 980px) {
    nav{
        display: flex;
        justify-content: right;
    }

    .logo{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateX(-30px) translateY(-50%);
        align-items: center;
    }

    .navigation{
        display: none;
    }

    .menu--links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-top: 50px;
    }

    .menu{
        margin: 15px 15px;
    }

    .toggle--btn{
        margin-right: 10px;
    }

    .nav--btn{
        display: block;
        margin-right: 15px;
    }
}

@media screen and (max-width: 900px){
    .components p{
        width: 70vw;
    }

    .sq--anime, .home--anime{
        scale: 0.8;
    }

    .sq--anime{
        margin-top: 60px;
    }

    .about--cmp{
        margin-top: -150px;
    }
}

@media screen and (max-width: 800px){
    .sq--anime, .home--anime{
        scale: 0.75;
    }

    .sq--anime{
        margin-top: 35px;
    }

    .filter--div{
        height: 170px;
        display: block;
    }

    .div--box{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        margin: 10px 0;
    }

    .cube--holder{
        scale: 0.9;
    }

    .about--btns{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 500px;
    }
}

@media screen and (max-width: 750px){
    .recent--evt{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
    }
}

@media screen and (max-width: 700px){
    .partner--box, .sponsor--box{
        width: fit-content;
        display: block;
    }

    .partner, .sponsor{
        margin-bottom: 50px;
    }

    .cube--holder{
        scale: 0.8;
    }

    .about--cards{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
    }
}

@media screen and (max-width: 600px){
    .homepage--ele{
        margin-top: -175px;
    }

    .sq--anime{
        scale: 0.75;
        margin-top: 20px;
        margin-bottom: 180px;
    }
    
    .home--anime{
        scale: 0.6;
    }

    .bg--img{
        top: -45%;
    }

    .events--holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    footer p{
        width: auto;
    }

    .team--svg iframe{
        width: 450px;
        height: 250px;
    }

    .cube--holder{
        scale: 0.7;
    }

    .about--cmp h1{
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px){
    .components p{
        width: 75vw;
    }

    .homepage--ele{
        margin-top: -135px;
    }

    .sq--anime{
        scale: 0.75;
        margin: 20px auto 180px auto;
        width: 100%;
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile--bg{
        transform: translateY(-35px);
    }

    .profile--img{
        transform: translateY(-135px);
    }

    .modal{
        width: 100vw;
    }

    .modal h2{
        margin-top: -70px;
        margin-bottom: 0;
    }

    .modal p{
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .filter--div{
        height: fit-content;
    }

    .team--svg iframe{
        width: 400px;
        height: 200px;
    }

    .neon--rain iframe{
        width: 350px;
    }

    .cube--holder{
        scale: 0.6;
    }

    .about--cmp{
        margin-top: -120px;
    }
    
    .about--btns{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20;
    }
}

@media screen and (max-width: 450px){
    .events--holder{
        padding: 15px;
    }

    .event--box{
        scale: 0.9;
    }
}

@media screen and (max-width: 430px){
    .logo{
        scale: 0.8;
        margin-left: 10px;
        position: absolute;
    }
}

@media screen and (max-width: 400px){
    .homepage--ele{
        margin-top: -155px;
    }

    .sq--anime{
        margin: 150px auto 250px auto;
    }

    .home--anime{
        scale: 0.5;
    }

    .team--svg iframe{
        width: 350px;
        height: 150px;
    }

    .neon--rain iframe{
        width: 325px;
    }
    
    .cube--holder{
        scale: 0.5;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer img{
        margin: 0 0;
        scale: 0.8;
    }

    .about--cmp{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        margin-top: -170px;
    }

    .about--cmp h1{
        text-align: center;
        width: 75vw;
    }

    .about--cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        padding: 0 0;
    }
}

@media screen and (max-width: 390px){
    .homepage--ele{
        margin-top: -185px;
    }

    .cube--holder{
        scale: 0.4;
    }
}